<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lizan.repository.mapper.TestUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.lizan.repository.model.TestUser">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="password" property="password" />
        <result column="id_deleted" property="idDeleted" />
        <result column="gmt_create" property="gmtCreate" />
    </resultMap>
    <insert id="save" keyProperty="id" useGeneratedKeys="true">
        insert INTO t_test_user
            (name ,
             sex,
             password,
             gmt_create)
            values
            (#{user.name},
             #{user.sex},
             #{user.password},
             #{user.gmtCreate})
    </insert>
    <select id="queryById" resultType="com.example.lizan.repository.model.TestUser">
        select * from t_test_user where id = #{id}
    </select>


</mapper>
